#new_task_container.collapse
  = render 'new'
.heading
  %h1.floating= t(@title)
  = link_to '#', onClick: 'return false', id: 'new-task-link', 'data-toggle' => "collapse",
    'data-target'=>"#new_task_container", class: 'btn btn-success' do
    %i.icon-pencil.icon-white
    = t(:new_task)
.filter
  .btn-group{"data-toggle" => "buttons-radio"}
    -#= link_to t(:today), params.merge(q: {deadline_eq: Date.today}), class: "btn #{params[:q].has_key?(:deadline_eq) ? 'active' : nil}"
    = link_to t(:today), params.merge(q: {deadline_eq: Date.today}, f: :today).except(:page), class: "btn #{is_active_date?(:today)}"
    = link_to t(:week), params.merge(q: {deadline_gteq: Date.today.beginning_of_week, deadline_lteq: Date.today.end_of_week}, f: :week).except(:page), class: "btn #{is_active_date?(:week)}"
    = link_to t(:month), params.merge(q: {deadline_gteq: Date.today.beginning_of_month, deadline_lteq: Date.today.end_of_month}, f: :month).except(:page), class: "btn #{is_active_date?(:month)}"
    = link_to t(:any), params[:q].except(:deadline_gteq, :deadline_lteq, :page), class: "btn #{is_active_any_date?}"
  = search_form_for @q, html: {class: 'form-search'} do |f|
    = f.text_field :name_cont, :class => '.input-medium search-query'
    = f.submit t(:search), class: 'btn'
%table.table
  %thead
    %tr
      %th= t(:mark_done)
      %th= sort_link @q, :name, t(:task), {page: params[:page], f: params[:f]}
      %th= sort_link @q, :deadline, t(:deadline), {page: params[:page], f: params[:f]}
      %th= sort_link @q, :created_at, t(:created_at), {page: params[:page], f: params[:f]}
      %th= t(:action)
  %tbody
    - @tasks.each do |task|
      %tr{ class: "#{task.status}"}
        = hidden_field_tag :id, task.id, id: "id_#{task.id}"
        %td= check_box_tag 'done', nil, task.done, id: "checkbox_#{task.id}", status_url: task_path(task), disabled: task.expired?
        %td.name= task.name
        %td= task.deadline.try(:strftime, '%d %B %Y')
        %td.action= task.created_at.strftime('%d %B %Y')
        %td
          = link_to edit_task_path(task), class: 'btn btn-primary btn-mini' do
            %i.icon-edit.icon-white
            = t(:edit)
          = link_to task, :confirm => t(:delete_question), :method => :delete, class: 'btn btn-danger btn-mini' do
            %i.icon-trash.icon-white
            = t(:delete)
= will_paginate @tasks