#new_task_container.collapse
  = render 'new'
.heading
  %h1.floating= t(:all_tasks)
  = link_to '#', onClick: 'return false', id: 'new-task-link', 'data-toggle' => "collapse",
    'data-target'=>"#new_task_container", class: 'btn btn-success' do
    %i.icon-pencil.icon-white
    = t(:new_task)
%table.table
  %tr
    %th=t(:mark_done)
    %th=t(:task)
    %th= t(:deadline)
    %th= t(:created_at)
    %th= t(:action)

  - @tasks.each do |task|
    %tr
      %td= task.done
      %td= task.name
      %td= task.deadline.try(:strftime, '%d %B %Y')
      %td= task.created_at.strftime('%d %B %Y')
      %td
        = link_to edit_task_path(task), class: 'btn btn-primary btn-mini' do
          %i.icon-edit.icon-white
          = t(:edit)
        = link_to task, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini' do
          %i.icon-trash.icon-white
          = t(:delete)